.imageUpload {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(https://playentry.org/img/IcoCmtPicture.svg);
    margin-right: 14px;
    background-size: 20px;
    background-repeat: no-repeat;
    vertical-align: top;
    transition: background-image 0.3s;
}

@media (max-width: 767px) {
    .imageUpload {
        width: 20px;
        height: 20px;
        margin-left: 0px;
        background-size: 20px;
    }
}

@media (max-width: 1199px) {
    .imageUpload {
        width: 22px;
        height: 22px;
        margin-left: 0px;
        background-size: 22px;
    }
}

.imageUpload:hover {
    background-image: url(https://playentry.org/uploads/확프/사진/확프사진온.svg) !important;
}

.contentButton {
    display: inline-block;
    width: 20px;
    margin-right: 14px;
    height: 20px;
    background-image: url(https://playentry.org/img/IcoCmtPicture.svg);
    background-size: 20px;
    vertical-align: top;
    transition: background-image 0.3s;
    background-repeat: no-repeat;
}

.contentButton:hover {
    background-image: url(https://playentry.org/uploads/확프/사진/확프사진온.svg) !important;
}

.contentButtonImage {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 14px;
    background-image: url(/img/IcoCmtPicture.svg);
    background-size: 20px;
    vertical-align: top;
    transition: background-image 0.3s;
    background-repeat: no-repeat;
}

.contentButtonImage:hover {
    background-image: url(https://playentry.org/uploads/확프/사진/확프사진온.svg);
}

.realImage {
    max-width: 90%;
    max-height: 374px;
    border-radius: 10px;
    margin: 5px 0 5px 2px;
}

.videoLink {
    position: absolute;
    transform: translateX(calc(2px + 15px)) translateY(calc(5px + 10px));
    padding: 5px;
    background-color: #00000020;
    border-radius: 5px;
    color: #ffffff20 !important;
    font-size: 0.8rem;
    z-index: 1;
    transition: 0.2s;
    cursor: pointer;
}

.videoLink:hover {
    background-color: #000000aa;
    color: #ffffff !important;
}

#blackBackground {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}
@media screen and (max-width: 790px) {
    #errorBackground {
        width: 70vw !important;
    }
}
#errorBackground {
    padding: 0 24px;
    background-color: #fff;
    width: 40vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 11;
    border-radius: 24px;
    border: 1px solid #eee;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    font-size: 16px;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    & > img {
        position: absolute;
        transition: transform 0.3s;
        right: 24px;
        top: 24px;
        cursor: pointer;
        &:hover {
            transform: rotate(360deg);
        }
    }
    & > button {
        display: block;
        width: 40%;
        height: 20%;
        margin-top: 8%;
        border: none;
        background-color: rgb(22, 216, 163);
        color: #fff;
        transition: background-color 0.2s;
        font-size: 16px;
        border-radius: 24px;
        cursor: pointer;
        &:hover {
            background-color: rgb(8, 196, 144);
        }
    }
}

section > div > div > div > h4 {
    transform: translateY(100%) translateX(5px);
    & > a {
        color: rgb(10, 133, 255);
    }
}
@media (max-width: 767px) {
    section > div > div > div > h4 {
        position: absolute;
        transform: translateY(-100%) translateX(130px) !important;
    }
}
